/* 
Primary: 
#e8eaf6
#ffffff - light
#b6b8c3 - dark

Secondary:
#42a5f5
#80d6ff - light
#0077c2 - dark

Text on Primary
#000000
Text on secondary
#000000
*/








header .row {
    margin-bottom: 0;
}

.parallax-container {
    margin: 0;
}

.five-columns .row{
    margin-bottom: 0;
}

main {
    background: #b3b3b3;
}

.main-information {
    padding-top: 50px;
    padding-bottom: 50px;
}
.main-center {
    color: #777;
}

main ul li {
    color: #222;
    padding: 10px;
}
.main-information h4 {
    text-transform: uppercase;
    color: #222;
}
main ul li a {
    text-transform: uppercase;
    color: #222;!important
}
main ul li a:hover {
    text-decoration: none;
    padding-left: 20px;
    color: #ffffff;
}

.animals img {
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: 10px 10px 20px #222;
    border-radius: 50%;
}

form {
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    width: 300px;
}
.round {
    border: 2px solid #b3b3b3;
    box-shadow: inset 2px 2px 1px #222;
    border-radius: 50%;
}
.footer-slider .itemn {
    position: relative;
    border: 2px solid #b3b3b3;
    box-shadow: inset 2px 2px 1px #222;
    border-radius: 50%;
}
.footer-slider >.itemn h5 {
    display: inline;
    background-color: #fff;
    padding: 10px;
    position: absolute;
    bottom: 20px;
}